<div class="container p-3">

  <div class="row mb-3">
    <div class="col-2"> Name </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="ID" [(ngModel)]="id">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-2"> Date </div>
    <div class="col">
      <div class="input-group">
        <input
          #date="ngbDatepicker"
          ngbDatepicker

          class="form-control"
          placeholder="dd.MM.yyyy"
          name="dp"

          (click)="date.open()"

          [(ngModel)]="model">
        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="date.toggle()" type="button"></button>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-2"> Target </div>
    <div class="col">
      <input type="text" class="form-control" [value]="target">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-2"> Value </div>
    <div class="col">
      <input type="text" class="form-control" [value]="value">
    </div>
  </div>

  <div class="row">
    <div class="col-2"> Variance </div>
    <div class="col">
      <input type="text" class="form-control" [value]="variance" disabled>
    </div>
  </div>

</div>
