.global-wrapper {
  display: flex;
  height: 100%;
  justify-content: space-around;
  padding: 40px;

  .panel {
    height: 100%;
  }

  .left-panel {
    width: 30%;
  }

  .right-panel {
    width: 60%;
  }
}
